@model WebApplication1.Models.TacGium
<h2>Thêm tác giả</h2>

<form method="post">
    <div>
        <label>Tên tác giả</label>
        <input asp-for="TenTacGia" />
    </div>
    <button type="submit">Lưu</button>
</form>
